.sign-up-modal-button{
    /* border: solid 1px blue !important; */
    /* padding: 6px 10px 6px 10px; */
    /* border-radius: 4px; */
    transition: color 0.3s;
}

.sign-up-modal-button:hover{
    /* border: solid 1px rgba(0, 0, 255, 0.4) !important; */
    color: #1890ff !important;
    transition: color 0.3s;
}

.sign-up-modal-header{
    background: #1D2671 !important;
    min-height: 200px;
    border-radius: 2px 2px 0 0;
    color: white;
}

.sign-up-modal-header h1{
    color: white;
}

.sign-up-modal .ant-modal-close-icon svg{
    color: white;
}

.sign-up-modal .ant-modal-close-icon svg:hover{
    color: grey;
}