@media (min-width: 768px) {
    .sidemenu-border {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 768px) {
    .employer-page-content {
      padding-left: 20px;
      padding-right: 20px;
    }
}

.employer-page-jumbotron {
  background: white;
  color: white;
  border-bottom: 1px solid rgba(1,1,1,0.2);
}

.employer-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.employer-page .container {
  flex: 1 1 auto;
  background: white;
}