.forgot-password-form-container {
    margin: auto;
    padding: 20px 20px 60px 20px;
    border: solid 1px rgba(0, 0, 0, 0.068);
    height: auto;
    width: 450px;
    border-radius: 4px;
    background: white;
}

.forgot-password-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.forgot-password-paragraph {
    margin-bottom: 20px;
    text-align: center;
    color: gray;
}

.forgot-password-verify-button{
    background: green;
    color: white;
}

.forgot-password-verify-button:hover{
    color: white;
    border: 0;
    background: rgba(0, 128, 0, 0.61);
}