.Header {
  text-align: center;
}

.header{
  width: auto !important;
}

.header .ant-menu-item-selected, .ant-menu-horizontal {
  border: 0 !important;
  line-height: 60px !important;
}

.ant-menu{
  background-color: transparent !important;
}

.ant-menu-submenu.ant-menu-submenu-horizontal  {
  float: right;
}

.header .ant-menu-item {
  padding: 0px 15px 0px 15px;
}

.header.ant-btn.recruiter-button {
  border-color: orange !important;
}

.header-language-select .ant-select-selection {
  background-color: transparent !important;
}

.header-language-select .ant-select-selection-selected-value {
  margin-right: 5px;
}

.header-language-select .ant-select-dropdown-menu-item-selected:hover{
  background-color: white !important;
}

.header .header-language-select-drop-down-style{
  padding: 0 !important;
  margin: 0 !important;
}

.header-language-select-drop-down-item:hover{
  background: blue !important;
}

.header-language-select-drop-down-item:hover:first-child{
  /* border-radius: 3px 3px 0px 0px; */
}

.header-language-select-drop-down-item:hover:last-child{
  border-radius: 0px 0px 3px 3px;
}

.header-item-no-cursor {
  cursor: auto !important;
}

.header-item-no-border {
  border: 0 !important;
}

.header-item-no-border .ant-radio-button-wrapper {
  background-image: linear-gradient(rgb(50,205,50), 	rgb(0,128,0));
  color: white;
  border-radius: 15px;
}

.header-item-no-border .ant-radio-button-wrapper:hover {
  background-image: linear-gradient(rgba(50,205,50, 0.7),	rgba(0,128,0, 0.7));
  color: white;
}

.ant-menu-submenu-popup {
  /* width: auto; */
}

.ant-menu-submenu-popup .ant-menu-vertical{
  max-width: 200px;
  min-width: 150px;
}

.ant-menu-submenu-popup .ant-menu-vertical li{
  min-width: 100%;
  /* display: flex; */
}